In [1]:
import random as rd
import pandas as pd

order = []
for i in range(16):
    order.append(i+1)
rd.shuffle(order)

In [2]:
order

[5, 15, 7, 2, 11, 8, 13, 14, 9, 4, 3, 12, 10, 16, 6, 1]

In [3]:
tests = pd.DataFrame()
tests['Força Normal'] = [2.5,5,8]*4+[5.17]*4
tests['Frequência'] = [2,2,2,4,4,4]*2+[3]*4
tests['EG'] = [4]*16
tests['Ordem'] = order
tests

    Força Normal  Frequência  EG  Ordem
0           2.50           2   4      5
1           5.00           2   4     15
2           8.00           2   4      7
3           2.50           4   4      2
4           5.00           4   4     11
5           8.00           4   4      8
6           2.50           2   4     13
7           5.00           2   4     14
8           8.00           2   4      9
9           2.50           4   4      4
10          5.00           4   4      3
11          8.00           4   4     12
12          5.17           3   4     10
13          5.17           3   4     16
14          5.17           3   4      6
15          5.17           3   4      1

In [4]:
tests.sort_values(by = ['Ordem'])

    Força Normal  Frequência  EG  Ordem
15          5.17           3   4      1
3           2.50           4   4      2
10          5.00           4   4      3
9           2.50           4   4      4
0           2.50           2   4      5
14          5.17           3   4      6
2           8.00           2   4      7
5           8.00           4   4      8
8           8.00           2   4      9
12          5.17           3   4     10
4           5.00           4   4     11
11          8.00           4   4     12
6           2.50           2   4     13
7           5.00           2   4     14
1           5.00           2   4     15
13          5.17           3   4     16